.icon-thunder:after {
  background-image: url("../images/icons/key-fill.svg");
}

.icon-bag:after {
  background-image: url("../images/icons/bag-fill.svg");
}

.icon-check::after {
  background-image: url("../images/icons/check-all.svg");
}

.icon-caret::after {
  background-image: url("../images/icons/caret-up-fill.svg");
}
