/* Размеры шрифтов */
$font-xx-small: 12px;
$font-x-small: 14px;
$font-small: 16px;
$font-medium: 18;
$font-large: 24px;
$font-x-large: 35px;
$font-xx-large: 64px;
$font-xxx-large: 80px;

/* Используемые цвета */
$first-color: #2a2a2a;
$secondary-color: #383838;
$third-color: #8a8a8a;
$fourth-color: #9c9c9c;
$fifth-color: #f9f9f9;
$seventh-color: #00a99d;
$eighth-color: #dedede;
$ninth-color: #606060;
